<footer class="grandmain pt-32">
    <div class="grand pt-10 h-fit w-screen flex justify-center">
      <div class="main flex flex-row">
        <div class="box1 border-2  flex flex-col items-center justify-center border-black">
          <div class="text-box1 pl-10">
            <h1 class=" font-bold">Newsletter</h1>
          </div>
          <div class="text-box2">
            <h1 class="stay-in pl-10 text-4xl">Stay in Touch</h1>
          </div>
          <div class="text-box3 pl-10 flex flex-row pt-3">
            <input type="email" class="email mr-2 w-52" placeholder="Email Address"/>
            <input type="button" value="GO">
          </div>
          <div class="text-box4 pl-10">
            <div class="email-line mt-2 h-px rounded-xl w-60"></div>
          </div>
        </div>
  
        <div class="box3 border-2 flex items-center justify-center border-black">
          <div>
            <div class="text-xl text-center font-bold">
              <h1>TAKE YOUR TIME</h1>
            </div>
            <div class="box3-text text-4xl">
              <h1>Enjoy your Bread</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Main title footer -->
  
      
      <div class="mtgrand py-10 h-fit flex justify-center select-none">
        <div class="main flex flex-row w-screen justify-between ">
          <div class="box1 flex flex-col items-start justify-center">
            <div class="text-box1 w-40 flex">
              <h1 class="font-bold w-40 pl-10">Bread,Cake,<br>Pasteries</h1>
            </div>
          </div>
          <div class="box2 flex flex-col align-baseline justify-center">
            <div>
              <div class="title select-none ml-[20px]">
                <h3 class="text-5xl font-bold">THE BREAD<br> BASKET</h3>
              </div>  
            </div>
          </div>
          <div class="box3 flex items-center justify-end pr-10">
            <div>
              <div class="text-center font-bold">
                <h1>SPECIALITY BREAD</h1>
              </div>
              <div class="font-bold">
                <h1>OPEN 20/5</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" h-10 w-screen">
  
        <div class="long-line w-[100%]"></div>
      </div>
      <div class="last-line text-xs h-14 w-screen select-none">
        <div class="pl-10 flex flex-row justify-between">
          <ul class="flex flex-row gap-10">
            <li class="hover-animation">Cookies</li>
            <li class="hover-animation">Terms & Condition</li>
            <li class="hover-animation">Shipping & Return Policy</li>
          </ul>
          <div class="pr-10">©TheBreadBasket</div>
        </div>
  
      </div>
   </footer>